extends ../layouts/header.pug 
block content
    //- nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
    //-   a(class="navbar-brand" ,href="/" ) 
    //-     img(src="../image/logo.jpg", alt="" class="rounded-circle" style="width: 30px ;") 
    //-   .navbar-collapse 
    //-     ul(class="navbar-nav mr-auto")
    //-       li(class="nav-item")
    //-         a(class="nav-link" href="/") Main page 
    //-       li(class="nav-item")
    //-         a(class="nav-link" href="./users/create") Create User 
    //-       li(class="nav-item")
    //-         a(class="nav-link" href="#") Search User 
    .container        
      h1(Class="text-center") Users List        
      a(href='/users/create' class="badge badge-secondary my-4 p-3") New user
      form( class="form-group" action='/users/search', method='GET')
        input( class="form-control" type='text', name='q')
        button(class= "btn btn-primary my-4" ) Search
      table(class="table")
        tr
          th Avatar  
          th Name
          th Phone
          th Action
          
        each user in users
          tr
            td
              img(src=user.avatar ,width="30")
            td=user.name
            td=user.phone
            td
              a(class="ml-auto btn btn-warning" href=`users/${user.id}`) View