extends ../layouts/header.pug 
block content
    .container
        h1(class="text-center") View user
        p   
            b Name:
            span &nbsp 
            span=user.name
        
        p   
            b Phone:
            span &nbsp 
            span=user.phone
